{% extends 'fitness_booking_app/base.html' %} {% block content %}
<h1 class="login-title">Login</h1>
<div class="login-container">
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <p class="message {{ message.tags }}">{{ message }}</p>
    {% endfor %}
  </div>
  <script>
    setTimeout(function () {
      $(".messages p").remove();
    }, 3000);
  </script>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
    </div>
    <button type="submit">Login</button>
  </form>
</div>
<p class="register-link">
  Don't have an account?
  <a href="{% url 'fitness_booking_app:register' %}">Register here</a>
</p>
{% endblock %}
